
body {
  background: linear-gradient(125deg,#00feba, #5b548a);
  height: 100vh;
}

.Weather {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 16px;
  color: #fff;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  text-align: left;
  color: #fff;
  line-height: 29px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  display: block;
  font-weight: 100;
  padding: 15px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.form-control {
  background: transparent;
  font-size: 22px;
  color: #fff; 
}

.form-control::placeholder {
  color: #fff;
}

.btn {
  background: transparent;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px; 
  height: 100%;
}

.btn:hover {
  background: #5b548a;
  border: 1px solid #5b548a;
}

.imgContainer {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.Weather img {
  display: inline-block;
  margin-right: 10px;
}

hr{
  color: #fff;
}

.Weather .temperature {
  font-weight: 400;
  font-weight: bold;
  font-size: 64px;
  margin-right: 8px;
}

.Weather .unit {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  top: -20px;
}