body {
  background: radial-gradient(#800080, #4b0082);
}

.Weather {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 16px;
  margin: 30px;
  color: #fff;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #fff;
  line-height: 29px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  display: block;
  font-weight: 100;
  padding: 15px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.form-control {
  background: transparent;
  font-size: 22px;
}

.form-control::placeholder {
  color: #fff;
  text-transform: capitalize;
}

.btn {
  background: transparent;
  cursor: pointer;
  color: #fff;
  height: 100%;
  border: 1px solid #fff;
}

.btn:hover {
  background: #4b0082;
  border: 1px solid #4b0082;
}

.imgContainer {
  display: flex;
}

.Weather img {
  display: inline-block;
  width: 25%;
  align-items: center;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  font-weight: bold;
  width: 25%;
  line-height: 64px;
  text-align: center;
  margin-right: 17px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  font-weight: bold;
}
